@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-white antialiased;
  min-height: 100vh;
}

a {
  @apply text-accent font-medium;
}
